<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>controllers.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>controllers.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignLecturerServlet</servlet-name>
        <servlet-class>controllers.AssignLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCourseServlet</servlet-name>
        <servlet-class>controllers.RemoveCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseServlet</servlet-name>
        <servlet-class>controllers.EditCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRegisterToCourseServlet</servlet-name>
        <servlet-class>controllers.ConfirmRegisterToCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/LoginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignLecturerServlet</servlet-name>
        <url-pattern>/AssignLecturerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCourseServlet</servlet-name>
        <url-pattern>/RemoveCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseServlet</servlet-name>
        <url-pattern>/EditCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRegisterToCourseServlet</servlet-name>
        <url-pattern>/ConfirmRegisterToCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexJSP.jsp</welcome-file>
    </welcome-file-list>
</web-app>
